{{ define "main" }}
<div class="prose mx-auto">
  {{ .Content }}
</div>

{{ if len .Pages }}
<div class="prose mx-auto mt-10 mb-6">
  <h2>All articles</h2>

  <ul class="not-prose list-outside">
    {{ range .Pages.ByLastmod }}
    <li>
      <a class="font-medium text-blue-700 hover:underline" href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="text-sm">:: {{ .Date.Format "Jan, 02 2006" }}</span>
      <span class="text-sm">:: {{ partial "minread.html" . }}</span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ end }}
