{{ define "main" }}
{{ $shouldCenter := cond (gt (len .Pages) 0) "text-center" "" }}
<article class="{{ $shouldCenter }} prose  dark:prose-invert mx-auto">
  {{ .Content }}
  {{ partial "translatedBy.html" . }}
</article>

{{ if len .Pages }}
<article class="prose dark:prose-invert mx-auto mt-6 mb-6">
  <ul class="pl-0 list-outside">
    {{ $len := len .Pages }}
    {{ range $i, $p := .Pages.ByLastmod.Reverse }}
    <li class="pl-0 flex flex-col">
      <h2 class="mt-1 not-prose">
        <a class="no-underline hover:underline" href="{{ $p.Permalink }}">{{ $p.Title }}</a>
      </h2>
      <p class="text-sm my-0">{{ $p.Date.Format .Site.Params.DateFormat }} - {{ partial "minread.html" $p }}</p>
      {{ $p.Summary }}
      <div class="not-prose my-0">
        <a class="anchor" href="{{ $p.Permalink }}">{{ i18n "readMore" }} &#x21C0;</a>
      </div>
      {{ if lt (add $i 1) $len }}
      <hr class="my-6"/>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}
{{ end }}
