{{ define "main" }}

<header class="max-w-prose mx-auto pb-10">
  <a class="anchor" href="{{ (index .Ancestors 0).Permalink }}">&#x21BC; Back to list</a>

  <h1 class="text-4xl font-bold mt-8 mb-4">{{ .Title }}</h1>
  <p>{{ .Date.Format .Site.Params.DateFormat }} - {{ partial "minread.html" . }}</p>
</header>

<aside class="max-w-prose mb-8 mx-auto">
  <h6 class="mb-4 text-sm">In this article</h6>
  <div class="text-sm">
    {{ .TableOfContents }}
  </div>
</aside>

<article class="prose dark:prose-invert mx-auto mb-6">
  {{.Content}}

  <hr>
</article>

<section class="max-w-prose mx-auto">
  <script src="https://utteranc.es/client.js"
          repo="o-leolleo/blog"
          issue-term="title"
          label="comments"
          theme="github-dark"
          crossorigin="anonymous"
          async>
  </script>
</section>
{{ end }}
