@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .anchor {
    @apply font-medium text-indigo-700 dark:text-indigo-400 hover:underline;
  }

  #TableOfContents a {
    @apply anchor
  }
}

.terminal-cursor {
  animation: cursor .8s infinite;
}

@keyframes cursor {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
