@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .anchor {
    @apply font-medium text-indigo-700 dark:text-indigo-400 hover:underline;
  }

  #TableOfContents a {
    @apply anchor
  }

  #TableOfContents li:not(nav > ul > li) {
    @apply ml-5
  }

  .prose a:not(h2 > a) {
    @apply text-indigo-700 no-underline hover:underline;
  }

  .dark .dark\:prose-invert a:not(h2 > a) {
    @apply text-indigo-400 no-underline hover:underline;
  }
}

.terminal-cursor {
  animation: cursor .8s infinite;
}

@keyframes cursor {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
