{{ if .IsTranslated }}
<div id="i18n-btn" class="relative inline-block text-left">
  <button
    id="menu-button"
    title="Change language"
    type="button"
    class="inline-flex w-full justify-center gap-x-1.5 rounded-md font-semibold"
    aria-expanded="true"
    aria-haspopup="true"
  >
    {{ partial "icons/language.html" . }}
  </button>

  <!--
        Dropdown menu, show/hide based on menu state.

        Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
  <div
    id="i18n-menu"
    class="hidden absolute bg-white dark:bg-stone-900 right-0 z-10 mt-2 w-32 origin-top-right rounded-md shadow-lg ring-1 ring-inset ring-gray-800 dark:ring-gray-300 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <ul class="py-1" role="none">
      {{ range .Translations }}
      <li>
        <a
          id="{{ .Language.LanguageCode }}"
          hreflang="{{ .Language.LanguageCode }}"
          href="{{ .RelPermalink }}"
          class="px-4 py-2 text-sm"
          role="menuitem"
          tabindex="-1"
        >
          {{ .Language.LanguageName }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
