<nav class="flex flex-col md:flex-row mb-3 md:mb-6 pt-8">
  <div class="flex md:flex-1 flex-row justify-between">
    {{ partial "navPrompt.html" . }}

    <button id="nav-menu-button" class="inline md:hidden">
      {{ partial "icons/menu.html" . }}
    </button>
  </div>

  <div id="nav-menu" class="
    h-48
    max-h-0
    overflow-hidden
    md:transition-none
    md:h-auto
    md:max-h-full
    md:overflow-visible
    flex
    flex-col
    pb-1
    items-center
    md:border-b-0
    md:pb-0
    md:items-stretch
    md:flex-1
    md:flex-row
    justify-end
  ">
    {{ partial "navItems.html" . }}

    <div class="flex w-full md:w-auto justify-end flex-row mt-6 md:mt-0">
      {{ partial "allLanguages.html" .}}
      {{ partial "navThemeToggle.html" . }}
    </div>
  </div>
</nav>
