<nav class="flex flex-row text-black mb-6">
  {{ $directory := cond .IsHome "~" (printf "%s%s" "~" .RelPermalink) | strings.TrimSuffix "/" | lower }}
  <a
    class="mr-auto text-gray-900 font-bold"
    href="{{ .Site.BaseURL }}"
    title="{{ .Site.Home.LinkTitle }}"
  >
    <span class="text-lime-500">leonardo-prado</span>:<span class="text-indigo-500">{{ $directory }}</span>$
    {{ with .Params.Command }}
    <span class="font-normal">{{ . }}</span>
    {{ end }}
    <span class="terminal-cursor">&#9610;</span>
  </a>

  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
  {{ $activeClass := "border-b-4 border-indigo-500" }}
  <a
    class="mr-6 text-gray-700 font-semibold {{ if $active }}{{ $activeClass }}{{ end }}"
    href="{{ .URL }}"
    title="{{ .Title }}"
  >
    {{ .Name }}
  </a>
  {{ end }}
</nav>
