<nav class="flex flex-row mb-6 pt-8">
  {{ $directory := cond .IsHome "~" (printf "%s%s" "~" .RelPermalink) | strings.TrimSuffix "/" | lower }}
  {{ $directory := cond .IsPage (path.Dir $directory) $directory }}
  {{ $command := cond .IsPage (printf "cat '%s'" (.Title | lower | safeHTML | strings.Truncate 30)) (default "" .Params.Command) }}

  <div class="mr-auto">
    <a
      class="font-bold"
      href="{{ .Site.BaseURL }}"
      title="{{ .Site.Home.LinkTitle }}"
    >
      <span class="text-lime-500">leonardo-prado</span>:<span class="text-indigo-500">{{ $directory }}</span>$
    </a>
    {{ with $command }}
    <span class="font-normal">{{ . }}</span>
    {{ end }}
    <span class="terminal-cursor">&#9610;</span>
  </div>

  {{- $currentPage := . -}}
  {{- range .Site.Menus.main.ByWeight -}}
  {{- $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
  {{- $activeClass := "border-b-4 border-indigo-500" -}}
  <a
    class="mr-6 font-semibold {{ if $active }}{{ $activeClass }}{{ end }}"
    href="{{ .URL }}"
    title="{{ .Title }}"
  >
    {{- .Name -}}
  </a>
  {{ end }}

  <button id="dark-mode-btn">
    <i id="dark-mode-icon" class="las la-moon"></i>
  </button>
</nav>
