{{ define "main" }}
{{ $image := resources.GetMatch "images/me.png" }}
{{ $image := $image.Resize "400x"}}
<div class="flex flex-col md:flex-row items-center pt-8">
  <div class="shrink-0 mb-12 md:mr-12">
    <img class="rounded-full brightness-200 dark:brightness-100 dark:-hue-rotate-60" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
  </div>

  <div class="flex flex-col">
    <div class="prose dark:prose-invert text-center md:text-left">
      {{ .Content }}
    </div>

    {{ partial "social.html" . }}
  </div>
</div>
{{ end }}
